
* {
    font-family: verdana;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFC300;
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #9F2B68	;
    background-color: #DE3163;
    color: #FAF9F6	;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}